/* MODAL */
.printBackground {
  position: fixed;
  /* z-index: 1; */
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.printBody .formContents [class*="col-"] {
  padding: 0;
}

.printContainer {
  flex: 0 1 70%;
  box-shadow: var(--box-shadow);
  display: flex;
  /* flex-direction: column; */

}

.printHeader {

  color: var(--txt-white);
  /* background-color: var(--main-color); */

  padding: 5px 15px;
  border-radius: var(--border-radius);
  margin-bottom: 5px;
}

.printHeader h2 {
  margin: 0;
  color: var(--txt-white);
}

.actionIcon svg {
  margin: 5px;
}

.printBody .formContents {
  padding-top: 0;
}

.printBody {
  padding: 15px;
  background: var(--second-bg);

  min-height: min-content;
  max-height: max-content;



  border-radius: var(--border-radius);

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.printFooter {
  /* background: var(--second-bg); */
  display: flex;
  flex-direction: column;
  /* padding: 15px; */
  color: var(--txt-white);

  display: flex;
  justify-content: flex-end;


  margin-left: 5px;
  border-radius: var(--border-radius);
}

.printBtn {
  font-size: 0.8rem;
  background: var(--main-color);
  /* padding: 9px 5px; */
  /* width: 70px; */
  color: var(--txt-white);
  border: 0;
  border-radius: 5px;
  border-radius: var(--border-radius);
  cursor: pointer;
  border: 1px solid var(--second-color);
  /* margin-left: 5px; */
  /* font-size: 15px; */
}

.printFooter .printBtn {
  font-size: 0.8rem;
  background: var(--main-color);
  padding: 5px 5px;
  width: 90px;
  color: var(--txt-white);
  border: 0;
  border-radius: var(--border-radius);
  cursor: pointer;
  border: 1px solid var(--second-color);
  margin-left: 5px;
  /* font-size: 15px; */
}

.printBtn:hover {
  background: var(--txt-white);
  color: var(--main-color);
  border: 1px solid var(--main-color);
}

/* END MODAL */