.content{
    position: relative;
    left: 0;
    height: max-content;
    /* width: max-content; */
    /* max-width: 400px; */
    background-color: transparent;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    overflow: hidden;
    transform-origin: top left;
    transform: scale(0);
    transition: transform 0.3s ease 0s;

    margin: 10px  0  0 5px;
    padding: 5px;
   
 }


 .dossier__form{
    
 }
 .dossier__form fieldset{
     padding-bottom: 15px;
     border: 0;
     border-top: 1px solid var(--main-color);
     border-radius: 0;
 }
 
 fieldset.p_none{
     padding-bottom: 0;
 }
 .dossier__form fieldset legend{
     text-align: center;
 }
 
.listing  legend{
   text-align: center;
   padding: 0;
 }

fieldset div.menu {
    margin-top: 0;
 }