.minute{
    /* background-color: red; */
    width: 100%;
    border: 1px solid var(--main-color);
    border-radius: var(--border-radius);
    padding: 5px;
}
.minute h4{
    color: var(--main-color);
    font-size: 1rem;
}
.minute h3{
    color: var(--main-color);
    font-size: 1.5rem;
}
.minute .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header img{
    /* border: 1px solid var(--main-color); */
    /* border-radius: var(--border-radius); */
    width: 80px;
    margin-bottom: 5px;
}

.body{
height: 400px;
overflow-y: scroll;
}

.body fieldset legend, .header fieldset legend{
    text-align: center;
    padding: 0;
}

.body .item, .header .item{
   
    margin-bottom: 5px;
    width: 100%;
    text-align: center;
}

.ligne{
    display: flex;
 
}

.trait{
    border-top: 1px solid var(--main-color);
}

/* .body table thead{
    color: var(--main-color);
    font-size: 1rem;
    font-weight: lighter;
} */
.body table thead th{
    color: var(--main-color);
    font-size: 1rem;
    font-weight: lighter;
    border-bottom: 1px solid var(--main-color);
}
.body table tbody td{
    /* color: var(--main-color); */
    font-size: 1rem;
    font-weight: lighter;
    border-bottom: 1px solid var(--main-color);
 
}

.body table {
    margin-top: 0;
   padding:0 5px 5px 5px;
}

.pj{
    display: flex;
    justify-content: center;
    align-items: center;
   
    margin-bottom: 5px;
}

.pj p::after {
    content: "/";
    margin: 0;
}

@media print {
    .body{
        height: 100%;
        overflow: hidden;
    }
}